/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
html {-webkit-tap-highlight-color: transparent;}
body{padding-top: 55px;}
/* 补充样式 - 适配普通电脑 768 - 1024  */
.sm-bgGray {background-color: #ffffff;}
.banner.h560, .banner.h531, .banner.h440, .banner.h480 {height:  300px;}
.banner.h481 {height: 480px;}
.banner.h434{
    height: 405px;
}

#banner .canvas {display: none;}
.honor-inner-a {
    scrollbar-width: none; /*隐藏滚动条*/
}
.honor-inner-a::-webkit-scrollbar {
    display: none; /*隐藏滚动条*/
}

/* 按钮移动端效果 */
.n-btn-default {padding:  10px 17px;font-size:  14px;margin: 20px 0 10px;width: 150px;box-sizing: border-box; }
.header {background-color: #fff ;}
.banner {margin-top: 0;}
.banner-single .banner-info {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 15px;
    top: 205px;}
.banner-single .banner-info h2 {line-height: 1;font-size:  22px;}
.banner-single .banner-info h2,.banner-info>p {text-align: center;}
.banner-info > p {font-size: 14px; margin: 15px 0 0; max-height: 85px; overflow: auto;color: #323235;text-align: left;}
.section {padding:  40px 0;}
.section-body li {width: 100%;border: solid 1px #eaebef;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: -moz-box;display: flex;text-align: left;}
.section-body li:not(:last-child) {margin-bottom:  8px;}
.section-body p {line-height: normal;margin-bottom:  4px;font-size:  15px;font-weight: normal;}
.col-space-80 {margin: 0;}
.col-space-80>* {padding:  18px;}
.section-header {margin-bottom:  24px;}
.section-header h1, .section-header h3 {font-size:  18px;line-height: 1;}
.section-header p {width: 100%; color: #93939a;font-size:  13px;margin:  7px auto 0;text-align: left;}

/* 展开收缩效果 */
.mobile-data,.show-more {display: block;width: 100% !important;}
.mobile-data li>div {padding:  18px 15px;}
.product-feature li {background-color: #ffffff;display: block;}
.product-feature li p {font-size:  14px;color: #626266;}
.product-feature .box-top {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: -moz-box;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;-moz-box-pack: justify;justify-content: space-between;  -webkit-box-align: center;  -ms-flex-align: center;padding: 0 15px;height:  53px;  -webkit-align-items: center;  -moz-box-align: center;  align-items: center;width: 100%;}
.product-feature .box-top div:first-child {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: -moz-box;display: flex;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-moz-box-align: center;align-items: center;}
.product-feature .box-top div:first-child img {width:  27px;margin-right:  10px;}
.product-feature .box-top .show-icon {width:  16px;font-size:  16px; color: #bababc;-webkit-transition: all 0.3s;-o-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.product-feature .box-top .show-icon.drop {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
.product-feature .slide-detail {display: none; background: url(../image/slide_bg.png) 100% 100%;-o-background-size: cover;background-size: cover; background-position: center; border-top:  1px solid #eaebef;border-radius: 0;}

.section-body ul li .icon-box {width:  40px;height:  40px;margin: 0;text-align: center;}
.section-body ul li .icon-box object {position: initial;width:  40px;height:  40px;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;transform: none;}

/* .section-body .show-more {width: 100%; color: #93939a;text-align: center;margin-top:  14px;} */
.show-more,.show-more1{position: relative;color: #2981ff !important;text-align: center;margin-top:  20px;font-size:  13px;}
/* .show-more:after,.show-more1::after{position: absolute; content: ""; width: 0; height: 0; top:  8px; margin-left:  7px; border-top: solid 4px #2981ff; border-right: solid 4px transparent; border-left: solid 4px transparent; } */

.show-more i {font-size:  12px;transition: all .3s;transform: rotate(0);display: inline-block;}
.show-more.packup i{
    -webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);
}

/*skip-box*/
.skip-box{ height:  45px;position: relative;z-index: 999;}
.skip-item{height:  45px;box-shadow: 0px 4px 16px 0px rgba(199, 208, 222, 0.25); border-bottom: solid 1px rgba(225, 229, 235, .8); }
.skip-item > div {width: 100%;}
.swiper-category{width: -webkit-calc(100% -60px) !important;width: -moz-calc(100% -60px) !important;width: calc(100% -60px) !important;margin:0 auto}
.skip-item ul li,.skip-item ul li a{height:  45px; line-height:  45px;font-size:  13px;}
.swiper-category{width: -webkit-calc(100% -60px) !important;width: -moz-calc(100% -60px) !important;width: calc(100% -60px) !important;margin:0 auto}

.skip-item ul li a{color:#0a1633;}

.skip-item li:hover a{color: #1C1D1F;}

.skip-item ul li, .skip-item ul li a {height:  45px;-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-ms-flex: 1;flex: 1;}
.skip-item ul li.on a::after {height:  3px;}
.skip-prev,.skip-next{display: none;width:  30px;line-height:  45px;color:#fff;box-shadow: 0 0 10px rgba(0,0,0,0.6);background-color: #32394a}
.mobile-data .box-top label {font-size:  15px;}
.section-a1 li>div { height: auto;padding: 0 20px; }

.skip-item ul li.on {font-weight: bold;}

/* 产品对比 */
.new-contrast-box .col-highlight div { height: auto; line-height: 60px; top: auto;}
.new-contrast-box .table-th:nth-child(3){width: 50%;}
.new-contrast-box .table-td:nth-child(3){width: 50%;}
.new-contrast-box .table-td:nth-child(2)::after { width:  45px; height:  45px; line-height:  14px; font-size:  12px; padding:  8px; border-radius: 50%; color: #2981ff; background-color: #e5f0ff; border:  1px solid #2981ff; background-image:none; }
.new-contrast-box .table-th { padding:  17px 5px; }
.new-contrast-box .table-th:nth-child(1) { padding-left:  30px; font-size:  14px; }
.new-contrast-box .table-th:nth-child(2) { font-size:  16px; }
.new-contrast-box .table-th:nth-child(3) { font-size:  13px; padding-left: 0; color: #323235; text-align: center; display: block;}
.new-contrast-box .col-highlight div { font-size:  13px;line-height:  52px; padding-left: 0; height:  54px; top:  -1px;text-align: center; }
.new-contrast-box .table-td:nth-child(2) { font-size:  13px; padding:  12px 38px 12px 12px; color: #323235; }
.new-contrast-box .table-td:nth-child(3) { font-size:  13px; padding:  12px 19px 12px 32px; color: #323235; }
.new-contrast-box .table-td:nth-child(2)::after { width:  45px; height:  45px; line-height:  14px; font-size:  12px; padding:  8px; border: solid 1px #2981ff; background-image: linear-gradient(0deg, #f0f5ff 0%, #f6f7fb 100%); }
.new-contrast-box .table-th:nth-child(2)::after{content: '';position: absolute;right:  -3px;top:  -3px;width:  47px;height:  38px;z-index: 98;background-size: 100% 100%; background-image: url(../image/tuijian.png);}
.table01-flex .table-td { border-left: none; }

/* 相关荣誉 */
.honour .wrapper { width: 100%; font-size:  12px; }
.honour .orange i {font-size:  16px; width: auto;}
.honour {padding:  12px 0; background-color: #0b1022;padding-right: 0;padding-left:  15px;box-sizing: border-box;}
.honour ul { width: calc(100% -94px); vertical-align: middle;line-height: 1;}
.honour .orange {font-size:  12px;}

/* 首页轮播 */
.banner .swiper-pagination-bullet{width:  24px;}
.banner .swiper-pagination { bottom:  12px; }